<%- contentFor('title') %>
Tables and Appliances Page

<%- contentFor('css') %>
<link rel="stylesheet" href="/css/tables.css">

<%- contentFor('body') %>
<div class="col-12 mb-2">
    <div class="row">
        <h1 class="fw-bold mb-0 col-lg-6">Tables and Appliances Status</h1>
        <p id="currentTime" class="fw-medium fs-4 mt-2 offset-lg-2 col-lg-4 text-end"></p>
    </div>
</div>
<div class="border border-2 rounded-4 px-4 py-3 mb-3">
    <div class="row fs-5">
        <div class="col-lg-3">
            <p class="mb-0 fw-medium">Tables Status Color:</p>
        </div>
        <div class="col-lg-2 d-flex align-items-center gap-2">
            <span class="rounded-1 d-inline-block indicator-available"></span>
            <span>Available</span>
        </div>
        <div class="col-lg-2 d-flex align-items-center gap-2">
            <span class="rounded-1 d-inline-block indicator-reserved"></span>
            <span>Reserved</span>
        </div>
        <div class="col-lg-2 d-flex align-items-center gap-2">
            <span class="rounded-1 d-inline-block indicator-occupied"></span>
            <span>Occupied</span>
        </div>
    </div>
</div>

<div class="border border-2 rounded-4 px-5 py-4 mb-3">
    <div class="row">
        <div class="border border-2 border-top-0 border-start-0 col-lg-6">
            <h5 class="fw-normal text-center text-secondary text-opacity-75 w-100">Zone A</h5>
            <div class="tables-grid-zone-A">
                <% tablesByZone['A'].forEach(table => { %>
                    <div class="position-relative table-status-<%= table.status.toLowerCase() %>">
                        <%- include('partials/tableSvg', { capacity: table.capacity }) %>
                        <span class="position-absolute top-50 start-50 translate-middle fw-bold fs-5 text-black">
                            <%= table.id %>
                        </span>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="border border-2 border-top-0 border-start-0 border-end-0 col-lg-6">
            <h5 class="fw-normal text-center text-secondary text-opacity-75 w-100">Zone C</h5>
            <div class="tables-grid-zone-C">
                <% tablesByZone['C'].forEach(table => { %>
                    <div class="position-relative table-status-<%= table.status.toLowerCase() %>">
                        <%- include('partials/tableSvg', { capacity: table.capacity }) %>
                        <span class="position-absolute top-50 start-50 translate-middle fw-bold fs-5 text-black">
                            <%= table.id %>
                        </span>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="border border-2 border-top-0 border-start-0 border-bottom-0 col-lg-6">
            <h5 class="fw-normal text-center text-secondary text-opacity-75 w-100 mt-3">Zone B</h5>
            <div class="tables-grid-zone-B">
                <% tablesByZone['B'].forEach(table => { %>
                    <div class="position-relative table-status-<%= table.status.toLowerCase() %>">
                        <%- include('partials/tableSvg', { capacity: table.capacity }) %>
                        <span class="position-absolute top-50 start-50 translate-middle fw-bold fs-5 text-black">
                            <%= table.id %>
                        </span>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="col-lg-6">
            <h5 class="fw-normal text-center text-secondary text-opacity-75 w-100 mt-3">Zone D</h5>
            <div class="tables-grid-zone-D">
                <% tablesByZone['D'].forEach(table => { %>
                    <div class="position-relative table-status-<%= table.status.toLowerCase() %>">
                        <%- include('partials/tableSvg', { capacity: table.capacity }) %>
                        <span class="position-absolute top-50 start-50 translate-middle fw-bold fs-5 text-black">
                            <%= table.id %>
                        </span>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<!-- Appliances Controls -->
<div class="row g-2">
    <div class="col-lg-3">
        <div class="border border-2 rounded-4 p-3 h-100">
            <div class="border-2 border-bottom pb-3 d-flex justify-content-between align-items-center">
                <span class="fw-medium fs-4">Zone A</span>
                <button class="btn btn-<%= zoneStatus['A'] ? 'success' : 'secondary' %>"
                    data-zone="A" data-all onclick="toggleAllAppliances(event, this, 'A')">
                    <%= zoneStatus['A'] ? 'ALL ON' : 'ALL OFF' %>
                </button>
            </div>
            <div class="mt-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/lights.png" class="me-2">Lights</span>
                    <button class="btn btn-<%= appliancesByZone['A']['Lights'].status ? 'success' : 'secondary' %>"
                        data-zone="A" data-name="Lights" onclick="toggleAppliance(event, this, 'A', 'Lights')">
                        <%= appliancesByZone['A']['Lights'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/fan.png" class="me-2">Fan</span>
                    <button class="btn btn-<%= appliancesByZone['A']['Fan'].status ? 'success' : 'secondary' %>"
                        data-zone="A" data-name="Fan" onclick="toggleAppliance(event, this, 'A', 'Fan')">
                        <%= appliancesByZone['A']['Fan'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/ac.png" class="me-2">AC</span>
                    <button class="btn btn-<%= appliancesByZone['A']['AC'].status ? 'success' : 'secondary' %>"
                        data-zone="A" data-name="AC" onclick="toggleAppliance(event, this, 'A', 'AC')">
                        <%= appliancesByZone['A']['AC'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="border border-2 rounded-4 p-3 h-100">
            <div class="border-2 border-bottom pb-3 d-flex justify-content-between align-items-center">
                <span class="fw-medium fs-4">Zone B</span>
                <button class="btn btn-<%= zoneStatus['B'] ? 'success' : 'secondary' %>"
                    data-zone="B" data-all onclick="toggleAllAppliances(event, this, 'B')">
                    <%= zoneStatus['B'] ? 'ALL ON' : 'ALL OFF' %>
                </button>
            </div>
            <div class="mt-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/lights.png" class="me-2">Lights</span>
                    <button class="btn btn-<%= appliancesByZone['B']['Lights'].status ? 'success' : 'secondary' %>"
                        data-zone="B" data-name="Lights" onclick="toggleAppliance(event, this, 'B', 'Lights')">
                        <%= appliancesByZone['B']['Lights'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/fan.png" class="me-2">Fan</span>
                    <button class="btn btn-<%= appliancesByZone['B']['Fan'].status ? 'success' : 'secondary' %>"
                        data-zone="B" data-name="Fan" onclick="toggleAppliance(event, this, 'B', 'Fan')">
                        <%= appliancesByZone['B']['Fan'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/ac.png" class="me-2">AC</span>
                    <button class="btn btn-<%= appliancesByZone['B']['AC'].status ? 'success' : 'secondary' %>"
                        data-zone="B" data-name="AC" onclick="toggleAppliance(event, this, 'B', 'AC')">
                        <%= appliancesByZone['B']['AC'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="border border-2 rounded-4 p-3 h-100">
            <div class="border-2 border-bottom pb-3 d-flex justify-content-between align-items-center">
                <span class="fw-medium fs-4">Zone C</span>
                <button class="btn btn-<%= zoneStatus['C'] ? 'success' : 'secondary' %>"
                    data-zone="C" data-all onclick="toggleAllAppliances(event, this, 'C')">
                    <%= zoneStatus['C'] ? 'ALL ON' : 'ALL OFF' %>
                </button>
            </div>
            <div class="mt-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/lights.png" class="me-2">Lights</span>
                    <button class="btn btn-<%= appliancesByZone['C']['Lights'].status ? 'success' : 'secondary' %>"
                        data-zone="C" data-name="Lights" onclick="toggleAppliance(event, this, 'C', 'Lights')">
                        <%= appliancesByZone['C']['Lights'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/fan.png" class="me-2">Fan</span>
                    <button class="btn btn-<%= appliancesByZone['C']['Fan'].status ? 'success' : 'secondary' %>"
                        data-zone="C" data-name="Fan" onclick="toggleAppliance(event, this, 'C', 'Fan')">
                        <%= appliancesByZone['C']['Fan'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/ac.png" class="me-2">AC</span>
                    <button class="btn btn-<%= appliancesByZone['C']['AC'].status ? 'success' : 'secondary' %>"
                        data-zone="C" data-name="AC" onclick="toggleAppliance(event, this, 'C', 'AC')">
                        <%= appliancesByZone['C']['AC'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="border border-2 rounded-4 p-3 h-100">
            <div class="border-2 border-bottom pb-3 d-flex justify-content-between align-items-center">
                <span class="fw-medium fs-4">Zone D</span>
                <button class="btn btn-<%= zoneStatus['D'] ? 'success' : 'secondary' %>"
                    data-zone="D" data-all onclick="toggleAllAppliances(event, this, 'D')">
                    <%= zoneStatus['D'] ? 'ALL ON' : 'ALL OFF' %>
                </button>
            </div>
            <div class="mt-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/lights.png" class="me-2">Lights</span>
                    <button class="btn btn-<%= appliancesByZone['D']['Lights'].status ? 'success' : 'secondary' %>"
                        data-zone="D" data-name="Lights" onclick="toggleAppliance(event, this, 'D', 'Lights')">
                        <%= appliancesByZone['D']['Lights'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/fan.png" class="me-2">Fan</span>
                    <button class="btn btn-<%= appliancesByZone['D']['Fan'].status ? 'success' : 'secondary' %>"
                        data-zone="D" data-name="Fan" onclick="toggleAppliance(event, this, 'D', 'Fan')">
                        <%= appliancesByZone['D']['Fan'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fs-5"><img src="/images/ac.png" class="me-2">AC</span>
                    <button class="btn btn-<%= appliancesByZone['D']['AC'].status ? 'success' : 'secondary' %>"
                        data-zone="D" data-name="AC" onclick="toggleAppliance(event, this, 'D', 'AC')">
                        <%= appliancesByZone['D']['AC'].status ? 'ON' : 'OFF' %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/tables.js"></script>